.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable: hover {
  text-decoration: underline;
}
  
#snead1, #snead2, #snead3, #snead4, #snead5, #snead6, #snead7, #snead8, #snead9 {
  display: none;
}

body {
  
  font-size: larger;
}

h1{
  color:darkblue;
  font-style: italic;
}